{% if request.user.is_staff %}
<button id="toggleBtn" onclick="toggle()">Show Applicants</button>
<div id="Applicants" style="display:none">
<section >
{% for applicant in assignment.applicant.all%}
<a href="{% url 'profile' applicant.id %}" > <li>{{ applicant }}</li> </a> <br>
{% endfor %}
</section>
</div>

<script>
function toggle() {
var applicants = document.getElementById("Applicants")
var toggleBtn = document.getElementById('toggleBtn');

if (applicants.style.display === "none") {
applicants.style.display = "block";
toggleBtn.innerHTML = 'Hide Applicants'
} else {
applicants.style.display = "none";
toggleBtn.innerHTML = 'Show Applicants'
}


}
</script>
{% endif  %}