{% extends "app/layout.html" %}



{% block content %}
<br>
<br>
{% if request.user.is_staff %}
<div class="home-container" >
      <div>
        <h4>  Browse Applicants </h4>  
      </div>

    <div >

        <a href="{% url 'create-assignment' %}">Create new assignment</a>
        <br>
        <br>
        <h4>All Assignments</h4>
  
        <ul>
        {% for assignment in assignments %}
          <li>Name: <a href="{% url 'assignment-details' assignment.slug %}">{{assignment.title}}</a></li>  
          <li>Location: {{assignment.location}}  </li>
          <li> <a href="{% url 'assignment-details' assignment.slug %}"> Applicants: {{ assignment.applicant.count }} </a></li>
          <br>
        {% endfor %}
      </ul>

    </div>

    <div>


    </div>

{% else %}


{% endif %}

{% endblock  %}
