{% extends "MainPages/layout.html" %}

{% block content %}
{% load static %}

<div class=home-container >
    <div class= grid-item-normal>
      <h2>Browse topic's</h2>
      <a href="{% url 'home'%}" >All</a> 
      <hr>
      {% for topic in topics %}
       <a href="{% url 'home'%}?q={{ topic.name }}" >{{ topic.name}}</a> 
      <hr>  
      {% endfor %}
      <hr> 
    </div>
    <div class= grid-item-normal>
        <h2>All Rooms</h2>
        <ul>
            <h4>{{room_count}} Rooms available </h4>
            <li> <a href="{% url 'create-room'  %} " >Create new room</a> </li> 
            {% for room in rooms %}
                <br>
                <li> <a href="{% url 'update-room' room.id %} " >Update</a> </li> 
                <span>@{{ room.host}}</span>
                <br>
                <li> <a href="{% url 'room' room.id %} " >{{ room.name }}</a> </li> 
                <br>
                <span> --------{{ room.topic}}--------</span> 
                <hr>  
            {% endfor %}
        </ul>   
    </div>
    <div class= grid-item-normal>
     {% include "MainPages/includes/activity-feed.html" %}
    </div>
</div>



{% endblock %}
