{% extends "MainPages/layout.html" %}

{% block content %}

<div class="home-container">

    <div>

    </div>
    <div>

        <div class="jumbotron">
            <h1>Torque</h1>
            <p class="lead">Torque is a consultant company with a strong focus on cooworkers..</p>
            <p><a href="https://torqueengineering.se/" class="btn btn--sub btn--lg">Learn more &raquo;</a></p>
        </div>
        
        <div class="row">
            
        </div>

    </div>

</div>




{% endblock %}
