{% extends "MainPages/layout.html" %}



{% block content %}


<br>
<br>
{% if request.user.is_staff %}

<div class="home-container" >

      <div class="grid-item">
        <h4>  Browse Applicants </h4>  
      
      </div>

    <div class="grid-item">

        <a href="{% url 'create-assignment' %}">Create new assignment</a>
        <br>
        <br>
        <h4>All Assignments</h4>
        <ul>
        {% for assignment in assignments %}
          <img width=200 height=150 src= "{{profile.profile_picture.url}}">
          <li>Name: <a href="{% url 'assignment-details' assignment.id %}">{{assignment.title}}</a></li>  
          <li>Location: {{assignment.location}}  </li>
          <li> <a href="{% url 'assignment-details' assignment.id %}"> Applicants: {{ assignment.applicant.count }} </a></li>
          <br>
        {% endfor %}
      </ul>

    </div>

    <div>


    </div>

{% else %}

<main class="profile my-md">


<div class="home-container-normal" >
  

  <div class="grid-item-normal">
     
    <div class="card text-center">
      <div class="card__body dev">
        <img class="avatar avatar--xl" src={{profile.profile_picture.url}}/>
        <h2 class="dev__name">{{profile.fullname}}</h2>
        <p class="dev__title">Expirance FullStack Developer</p>
        <p class="dev__location">Based in Florida, USA</p>
        <ul class="dev__social">
          <li>
            <a title="Github" href="#" target="_blank"><i class="im im-github"></i></a>
          </li>
          <li>
            <a title="Stackoverflow" href="#" target="_blank"><i class="im im-stackoverflow"></i></a>
          </li>
          <li>
            <a title="Twitter" href="#" target="_blank"><i class="im im-twitter"></i></a>
          </li>
          <li>
            <a title="LinkedIn" href="#" target="_blank"><i class="im im-linkedin"></i></a>
          </li>
          <li>
            <a title="Personal Website" href="#" target="_blank"><i class="im im-globe"></i></a>
          </li>
        </ul>
        <a href="{% url 'profile-update' request.user.profile.id %}"class="btn btn--sub btn--lg">Update</a>
      </div>
    </div>
  </div>


  <div class="grid-item-normal">
    <div class="devInfo">
      <h3 class="devInfo__title">About Me</h3>
      <p class="devInfo__about">
        {{profile.bio}}
        <br>
      </p>
    </div>
    <div class="devInfo">
      <h3 class="devInfo__title">Skills</h3>
      <div class="devInfo__skills">
      
        <div class="devSkill">
          <h4 class="devSkill__title">React</h4>
          <p class="devSkill__info">
            Smet consectetur adipisicing elit. Omnis, nihil? Accusamus aspernatur aut debitis vitae quaerat
            nihil fugiat, doloremque nesciunt alias pariatur maxime unde, nam saepe laborum at odit labore.
          </p>
        </div>

       

        <h3 class="devInfo__subtitle">Other Skills</h3>

        <div class="devInfo__otherSkills">
    
          <span class="tag tag--pill tag--sub tag--lg">
            <small>Postgres</small>
          </span>

          <span class="tag tag--pill tag--sub tag--lg">
            <small>MongoDB</small>
          </span>

        </div>

      </div>
    </div>

  </div>

<div class="grid-item-normal">

  <div class="devInfo">
    <h3 class="devInfo__title">Assignments</h3>

              {% for  assignment in assignments_applied %}
    <div class="grid grid--two">

      <div class="column">
        <div class="card project">
          <a href="single-project.html" class="project">
            <img class="project__thumbnail" src="images/project-b.png" alt="project thumbnail" />
            <div class="card__body">
              <h3 class="project__title">DevSearch UI Design</h3>
              <p><a class="project__author" href="profile.html">By Shahriar P. Shuvo</a></p>
              <p class="project--rating">
                <span style="font-weight: bold;">92%</span> Postitive
                Feedback (62 Votes)
              </p>
              <div class="project__tags">
                <span class="tag tag--pill tag--main">
                  <small>NextJS</small>
                </span>
                <span class="tag tag--pill tag--main">
                  <small>GraphQL</small>
                </span>
                <span class="tag tag--pill tag--main">
                  <small>TypeScript</small>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor  %}
    </div>

  </div> 

</div>
</main>


{% endif %}

{% endblock  %}
