
{% extends "app/layout.html" %}

{% load static %}


{% block title %} Form Page {% endblock %}
{% block main_heading %}   {{ assignment.title }}    {% endblock %}
 
{% block content %}
<section id="registration">
  <div class="container">
    <form  method="POST">
      <fieldset>
        <legend>Please fill up form</legend>
        {% csrf_token %}
           <ul>
        {{ form.as_ul }}
           </ul>
        <button class="btn btn--sub btn--lg" type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
</div>
   
</section>
{% endblock %}

 

