{% extends "MainPages/layout.html" %}

{% load static %}

{% block title %}
  {{ assignment.title }}
{% endblock %}


{% block main_heading %}
  {{ assignment.title }}
{% endblock %}

{% block content %}

{% if assignment_found %}


<div class="home-container">

<div>
</div>
  <div class=>
  <article>
    <section id="details">
      <h3>{{ assignment.title }}</h3>
      <p>{{ assignment.description }}</p>
    </section>
    <section id="location">
      <h3>Assignment Location</h3>
      <address>This assignment takes place in <span>{{ assignment.location.name }} </span>  {{ assignment.location.adress }}. </address>
     
    </section>
      {% if request.user.is_staff %}
      <button id="toggleBtn" onclick="toggle()">Show Applicants</button>
  <div id="Applicants" style="display:none">
    <section >
      {% for applicant in assignment.applicant.all%}
     <a href="{% url 'profile' applicant.id %}" > <li>{{ applicant }}</li> </a> 
      {% endfor %}
    </section>
  </div>
  
  <script>
  function toggle() {
    var applicants = document.getElementById("Applicants")
    var toggleBtn = document.getElementById('toggleBtn');
    
    if (applicants.style.display === "none") {
      applicants.style.display = "block";
      toggleBtn.innerHTML = 'Hide Applicants'
    } else {
      applicants.style.display = "none";
      toggleBtn.innerHTML = 'Show Applicants'
    }
    
    
  }
  </script>
      {% else %}
    <section id="registration">
      <h2>Join Us</h2>
       <form action=" {% url 'assignment-details' assignment.id %} " method="POST">
          <div class="assignment-actions">
             <a href="{% url 'applicant-form' assignment.id %}" class="btn">Apply now</a>
          </div>
       </form>
    </section>
    {% endif %}
  
    
  </article>
  
  {% else %}
  <p>No assignment found for this id, sorry!</p>
  {% endif %}
  
  {% endblock %}
</div>


</div>


    