{% extends 'assignment/base/base.html' %}

{% load static %}

{% block title %}
  {{ assignment.title }}
{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'assignment/styles/details.css' %}">
{% endblock %}

{% block main_heading %}
  {{ assignment_title }}
{% endblock %}

{% block body %}

{% if assignment_found %}
<article>
  
  <section id="location">
    <h2>Assignment Location</h2>
    <address>This assignment takes place in <span>location</span> adress</address>
  </section>

  <section id="details">
    <h2>What's This assignment About?</h2>
    <p>{{ assignment_description }}</p>
    <footer>
      <p>Need more details? Please call 911 </p>
    </footer>
  </section>

  
</article>
{% else %}
<p>No meetup found for this slug, sorry!</p>
{% endif %}

{% endblock %}
    