.home-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;   
}
.grid-item {
    justify-self: center;
  }   
.home-container-normal{
    display: grid;
    grid-template-columns: 20% 60% 20%;  
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px; 
}
.grid-item-normal {
    justify-self: center;
    margin-right: 5px;
    margin-left: 5px;
} 
.grid-item-single {
    justify-self: stretch;
    margin-right: 50px;
    margin-left: 50px; 
} 
.card-alignment {
    align-self: stretch;   
}
.btn--sub-lighter {
    background-color: var(--color-sub-lighter);
}
.btn--margin {
    margin-top: 15px;
    margin-bottom: 5px;
}