:root {
  --color-main: #71c6dd;
  --color-main-light: #e1f6fb;
  --color-dark: #3f4156;
  --color-dark-medium: #51546e;
  --color-dark-light: #696d97;
  --color-light: #e5e5e5;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #2d2d39;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
}
.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-light);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.layout__body {
  margin: 3rem;
}

.btn2 {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.btn2--main {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.btn2--link {
  border-radius: 0;
  padding: 0;
  color: var(--color-main);
  box-shadow: none;
}

.btn2--link:hover {
  text-decoration: underline;
}

.auth__action {
  margin-top: 3rem;
  text-align: center;
}
.auth__tagline {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 1.8rem;
}

/*==============================
  =>  Topics
  ================================*/
.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-dark);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-main);
  cursor: pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}

.layout__titleColor {
  color: #e3e2e2;
}

.layout__loginMargin {
  margin-top: 7px;
}
.layout__errorMessage {
  color: var(--color-error);
  background-color: var(--color-light);
}
