{% extends "app/layout.html" %}

{% block content %}

<div class ="grid-item-single">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <address>
        Fabriksgatan 7<br />
        41250 Göteborg<br />
        <abbr title="Phone">P: 0760-482622</abbr>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:info@torqueengineering.se">info@torqueengineering.se</a><br />
        <strong>Marketing:</strong> <a href="mailto:info@torqueengineering.se">info@torqueengineering.se</a>
    </address>
</div>

{% endblock %}

